html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    max-width: 100%;
}

/* CSS reset */

/* tab blocks */
.tab {
    display: inline-block; 
    text-align: center; 
    border-radius: 30px; 
    width: 30%;     
    box-sizing: border-box; 
}

.plan {
    background-color: #FF764E;
    color: white; 
}

.learn {
    background-color: #5ED3EB;
    color: white; 
}

.get {
    background-color: #FFCD69;
    color: white; 
}
/* tab blocks on top */

nav {
    border: 1px red solid; 
    box-sizing: border-box; 
}

/* header */

header {
display: inline-block; 
border: 1px solid black; 
}

header #circle {
    width: 20%; 
    border-radius: 50%;
    border: 1px red solid; 
}

.header-title {
    display: inline-block; 
    width: 20%; 
    border: 1px red solid; 
}

/* header specifics */
header #yosemite-title {
    font-family: 'Chelsea Market', cursive;
}

/* block of text */

.main-text {
    background: #DDB9A3;
    color: white; 
    margin: 0 auto; 
}

#campfire {
    width: 10%; 
}

/* info-blocks with icons */
.info-block-fire {
    border: 1px red solid;
    text-align: center; 
    padding: 0 40%;  
}

#trailer {
    width: 10%; 
}
.info-block-trailer {
    border: 1px red solid;
    text-align: center; 
    padding: 0 40%;  
}

/* footer */

footer {
  background-color: #F9E7DC; 
  display: inline-block; 
}

#tunnel-view {
    max-width: 100%;
}